h1{
    margin-top: 10px;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.book-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px; 
    text-align: center;
}

.book-cover {
    width: 100%;
    height: auto; 
    border-radius: 5px;
}